html {
    font-size: 16px;
}

body {
    margin: 0;
    box-sizing: border-box;

    font-family: 'Open Sans',sans-serif;
    font-style: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: #f5f5f5;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* These are useful when we need to "zoom" the UI for ultra wide screens.
 * Out of scope of this exercise, but thought I'd mention it.
 */
@media only screen and (max-width: 700px) {
    html {
        font-size: 110%;
    }
}
@media only screen and (min-width: 1000px) {
    html {
        font-size: 120%;
    }
}
@media only screen and (min-width: 1550px) {
    html {
        font-size: 130%;
    }
}

p {
    margin: auto;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
                 monospace;
}

h1, h2, h3, h4, h5 {
    font-weight: 600;
    color: #786b5f;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}
